#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url('./../images/intro-bg_1.jpg') no-repeat center center;
    background-size: cover;
}

#banner_content{
    /* position: relative; */
    margin: auto;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 14%;
    margin-bottom: 14%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

footer{
    position: fixed;
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}

.panel{
    margin-top: 75px;
}

#signup_form{
    margin-top: 75px;
}

.add-top-margin{
    margin-top: 75px;
}

.add-bottom-margin{
    margin-bottom: 30px;
}

.thumbnail>a>img{
    min-height: 168.33px;
}

.thumbnail>a{
    color: initial;
    text-decoration: none;
}

.thumbnail:hover{
    box-shadow: 0px 0px 4px darkgray;
}

.jumbotron.bg-success{
    margin-top: 25vh;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
}

#success_container{
    background: url('./../images/intro-bg_1.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#success_container a,#success_container span{
    font-size: 20px;
    font-style: normal;
}

.caption>*{
    color: initial;
}

.caption>*:hover{
    text-decoration: none;
}

a.btn.btn-primary{
    color: whitesmoke;
}